.header{
	background-color: #000;
	padding-top: 1%;
	padding-bottom: 1%;

}

.main{
	background-image: url(../images/background.gif);
	background-attachment: fixed;
	background-size: 100%;

}

.girl{
	padding-left: 2%;	
	padding-right: 2%;
	padding: 0; 											
}


.title1{
	font-family: Arial, Verdana, Calibri;
	font-size: x-large;	
}

.title2{
	font-family: Arial, Verdana, Calibri;
	font-size: large;
}

p{
	font-size: small;
}

.love{
	color: #fff;
	position: absolute;
	bottom: 18%;
	padding-left: 5%;
	padding-right: 3%;
	margin: 0;
}

.next{
	padding-top: 18%;
	
}
														
														.bd{
															border-style: solid;
														}


.items{
	padding-bottom: 8%;
}

.action{
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #fafafa	;	
}

.padd{
	padding-left: 5%;
}

.padd-r{
	padding: 3% 0 3% 0;
}